<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonLibrary" version="2.3.0.0" targetFramework="net47" />
  <package id="FastMember.Signed" version="1.1.0" targetFramework="net47" />
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net47" />
  <package id="FuzzyStrings.NetStandard" version="1.0.1" targetFramework="net47" />
  <package id="gong-wpf-dragdrop" version="1.2.0-alpha0057" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net47" />
</packages>